# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [ ]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9, 15]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12, 13]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt']

### The `shuffle()` function

In [ ]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9]
    random.shuffle(numbers)
    print(numbers)

[12, 2, 1, 5, 9, 3, 8, 4]
[4, 2, 8, 3, 1, 12, 5, 9]
[4, 5, 1, 9, 3, 8, 12, 2]
[9, 12, 2, 8, 5, 3, 4, 1]
[9, 8, 4, 3, 12, 1, 5, 2]

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Perform the union operation
union_set = set1.union(set2)

# Display the output
print(union_set)

*Questions1: randomly create 2 set of number, find the common nummbers in the 2 set*

In [ ]:
# Create two sets of random numbers
set_a = set(random.sample(range(1, 20), 10))
set_b = set(random.sample(range(1, 20), 10))

# Find the common numbers in the two sets
common_numbers = set_a.intersection(set_b)

# Display the sets and the common numbers
print("Set A:", set_a)
print("Set B:", set_b)
print("Common Numbers:", common_numbers)

*Question 2: shuffle the character in your name. For example: Apple Chan, After shuffle.

In [ ]:
name = list("Apple Chan")
random.shuffle(name)
shuffled_name = ''.join(name)

print("Original Name: Apple Chan")
print("Shuffled Name:", shuffled_name)
name_jim = list("Jim Ng Ying Gee")
random.shuffle(name_jim)
shuffled_name_jim = ''.join(name_jim)

print("Shuffled Name:", shuffled_name_jim)

Question3: extract a table from wikipedia https://en.wikipedia.org/wiki/Frieren

In [ ]:
import pandas as pd

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/Frieren"

# Extract all tables from the Wikipedia page
tables = pd.read_html(url)

# Display the first table
if tables:
    print(tables[0])
else:
    print("No tables found on the page.")

In [3]:
user_name = input("Enter your name: ")
print(f"Hello,{user_name}! Welcome to Google Colab")

Enter your name: hi
Hello,hi! Welcome to Google Colab